.page-toc {
    float: none;
}

.ytubevideo {
    padding: 10px 0 10px 20px;
}

.book .book-body .page-wrapper .page-inner {
    max-width: 1000px !important;
}

.navigation.navigation-prev {
    display: none;
}

.navigation.navigation-next {
    display: none;
}

.normal p {
    margin: 0 0 .8em 0;
}

.normal ul li {
    margin: 0 0 .8em 0;
}

.normal ul ul li {
    margin: 0 0 .4em 0;
}

.page-toc ul li {
    margin: 0;
}

.page-toc ul ul li {
    margin: 0;
}
